body {
  margin: 0;
  padding: 0;
}

#liste-sites {
  display: flex;
  padding: 0;
  flex-direction: column;
}

#titre {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: burlywood;
}

#sites {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
  margin: 15px;
  padding: 15px;
}

#sites a {
  text-decoration: none;
  color: black;
  border: 10px black solid;
  margin: 3em;
  padding: 7em;
  border-radius: 45px;
}

#sites a .image {
  background-size: cover;
}

#sites a #morpion {
  background-image: url(images/morpion.jpg);
}

#sites a #portfolio {
  background-image: url(images/portfolio.jpg);
}

#sites a #devinetonjoueur {
  background-image: url(images/icon.jpg);
}

#sites a #course {
  background-image: url(images/course.jpg);
}
