body {
    margin: 0;
    padding: 0;
}

#liste-sites {
    display: flex;
    padding: 0;
    flex-direction: column;

}

#titre {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: burlywood;
}

#sites {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;
}

#sites a {
    text-decoration: none;
    color: black;
    border: 10px black solid;
    margin: 3em;
    padding: 7em;
    border-radius: 35px;

}

#sites #morpion {
    background-image: url(images/morpion.jpg);
    background-size: cover;
}

#sites #portfolio {
    background-image: url(images/portfolio.jpg);
    background-size: cover;
}